* {
	font-family: 'Montserrat';
}

.wrapper, form.wrapper {
    width: 16.66666667%;
    height: 25%;
    float: left;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

body {
	margin: 0px;
}

.game-button {
    margin: auto;
    width: 85%;
    height: 85%;
    font-size: 20px;
    border: 5px;
    border-radius: 15%;
    border-style: solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
}

a.game-button, input.game-button {
	background-color: black;
	border-color: black;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
}
input.game-button {
	flex-direction: row;
}

#main-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}
a.game-button:hover, input.game-button:hover {
    border-color: white !important;
    font-size: 19px;
}